$main-color:darkblue;
$secondary-color:aqua;
$light-color:aliceblue;

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.content{
    overflow-x: hidden;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    & a{
        text-decoration: none;
    }

    & a:hover{
        color:$secondary-color;
    }
}

nav{
    background-color: $main-color;
    color:$light-color;
    height:50px;
}

ul{
    display:flex;
    flex-direction: row;
    align-items: space-between;
    text-align: left;
    padding: 0;
    margin:0;
    height:100%;
}

li{
    list-style-type: none;
    height:100%;
    padding-right: 10px;
    text-align: center;

    & a{
    text-decoration: none;
    color:$light-color;
    text-align: left;
    line-height: 50px;
    height:50px;
    padding-left:2px;
    }

    & a:hover{
        color:$main-color;
        background-color: $secondary-color;
    }
}

li:hover{
    color:$main-color;
    background-color: $secondary-color;
}

.hero{
    background-color: $secondary-color;
    height:250px;

    & #title{
        margin:0;
        padding-left:45%;
        padding-top: 9%;
    }

}

.intro{
    text-align: center;
}

footer{
    text-align:center;
}