$main-color:darkblue;
$secondary-color:aqua;
$light-color:aliceblue;

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.content{
    overflow-x: hidden;
}

nav{
    background-color: $main-color;
    color:$light-color;
    height:50px;
}

ul{
    display:flex;
    flex-direction: row;
    align-items: space-between;
    text-align: left;
    padding: 0;
    margin:0;
    height:100%;
}

li{
    list-style-type: none;
    height:100%;
    padding-right: 10px;
    text-align: center;

    & a{
    text-decoration: none;
    color:$light-color;
    text-align: left;
    height:100%;
    width: 100%;
    padding-top: 50%;
    padding-top:50;
    }

    & a:hover{
        color:$main-color;
        background-color: $secondary-color;
    }
}

li:hover{
    color:$main-color;
    background-color: $secondary-color;
}

.hero{
    background-color: $secondary-color;
    height:250px;
    padding:50%;

    & #title{
        margin:0;
    }

}

footer{
    text-align:center;
}