$main-color:darkblue;
$secondary-color:aqua;
$light-color:aliceblue;
$dark-color: grey;

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.content{
    overflow-x: hidden;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:30px;

    & a{
        text-decoration: none;
        color:$dark-color;
    }

    & a:hover{
        color:$secondary-color;
    }
}

nav{
    background-color: $main-color;
    color:$light-color;
    height:50px;
}

ul{
    display:flex;
    flex-direction: row;
    align-items: space-between;
    text-align: left;
    padding: 0;
    margin:0;
    height:100%;
}

li{
    list-style-type: none;
    height:100%;
    padding-right: 10px;
    text-align: center;
    color:$light-color;

    & a{
    text-decoration: none;
    color:inherit;
    text-align: left;
    line-height: 50px;
    height:50px;
    padding-left:2px;
    }
}

li:hover{
    color:$main-color;
    background-color: $secondary-color;

    
    & a:hover{
        color:inherit;
        background-color: inherit;
    }
}

.hero{
    background-color: $secondary-color;
    height:250px;

    & #title{
        margin:0;
        padding-left:45%;
        padding-top: 9%;
    }

}

.intro{
    text-align: center;
}

section{
    border:$main-color 1px solid;
    padding:15px;
}

.sections{
    display:flex;
    flex-direction: row;
    width:100%;
}

.left-section{
    width:30%;
}

.right-section{
    width:70%;
}

.dev-container{
    border:inherit;
    padding:inherit;
    display:flex;
    flex-direction: row;
    align-content: space-between;

    & .dev-img{
        padding:inherit;
        margin-right: 15px;
        box-shadow: 0 0 2px 2px $dark-color;
    }

    & .dev-text-container{
        display:flex;
        flex-direction: column;
        align-content: left;
    }

    & .dev-name{
        color: $dark-color;
        text-align: left;
    }

    & .dev-contacts{
        color: $dark-color;
        text-align: left;
    }

    & .dev-link{
        background-color: $main-color;
        color:$light-color;
        width: 40%;
        height: 20px;
        padding:10px;
        border-radius: 10px;
        text-decoration: none;
        text-align:center;
    }

    & .dev-link:hover{
        background-color: $secondary-color;
        color:$dark-color;
    }
}

footer{
    text-align:center;
}