body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  overflow-x: hidden;
  margin: 0 10% 0 10%;
  border: #3f3e3e 1px solid;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 25px 5px 0 5px;
}

header a {
  text-decoration: none;
  color: #3f3e3e;
}

header a:hover {
  color: aqua;
}

nav {
  background-color: darkblue;
  color: aliceblue;
  height: 50px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 100%;
}

li {
  list-style-type: none;
  height: 100%;
  padding-right: 10px;
  text-align: center;
  color: aliceblue;
}

li a {
  text-decoration: none;
  color: inherit;
  text-align: left;
  line-height: 50px;
  height: 50px;
  padding-left: 2px;
}

li:hover {
  color: darkblue;
  background-color: aqua;
}

li:hover a:hover {
  color: inherit;
  background-color: inherit;
}

.hero {
  background-color: aqua;
  height: 250px;
}

.hero #title {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10%;
}

.intro {
  text-align: center;
}

section {
  padding: 15px;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: #3f3e3e;
  border-radius: #3f3e3e;
}

.left-section {
  width: 30%;
  border-right: #3f3e3e 1px solid;
}

.project-title {
  color: #3f3e3e;
  text-align: left;
  margin: 0;
}

hr {
  color: darkblue;
  margin: 0;
}

.date-posted {
  text-align: right;
  font-size: 0.8em;
  margin: 0;
  margin-bottom: 15px;
  color: grey;
}

.right-section {
  width: 70%;
}

.dev-container {
  padding: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-shadow: 0 0 8px 1px #3f3e3e;
          box-shadow: 0 0 8px 1px #3f3e3e;
  border-radius: 160px 0 0 160px;
}

.dev-container .dev-img {
  margin-right: 15px;
  -webkit-box-shadow: 0 0 2px 2px #3f3e3e;
          box-shadow: 0 0 2px 2px #3f3e3e;
  width: 160px;
  height: 160px;
  border-radius: 160px;
}

.dev-container .dev-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: left;
      align-content: left;
  margin: 0;
  padding: 0;
}

.dev-container .dev-name {
  color: #3f3e3e;
  text-align: left;
  margin: 0;
}

.dev-container .dev-contacts {
  color: #3f3e3e;
  text-align: left;
  margin: 0;
}

.dev-container .dev-link {
  background-color: darkblue;
  color: aliceblue;
  width: 60px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.dev-container .dev-link:hover {
  background-color: aqua;
  color: #3f3e3e;
}

.dev-container:hover {
  -webkit-box-shadow: 0 0 8px 1px darkblue;
          box-shadow: 0 0 8px 1px darkblue;
}

form {
  border-radius: 30px;
  margin: 5px 15% 20px 15%;
  border: grey 1px solid;
}

form h3 {
  text-align: center;
}

label, input, .login-reg-button {
  width: 60%;
  height: 30px;
  display: block;
  margin: 0 auto 0 auto;
}

label {
  margin-bottom: -5px;
}

.login-button {
  background-color: darkblue;
  color: aliceblue;
  padding: 5px;
  margin-top: 10px;
}

.login-reg-button {
  text-decoration: none;
  text-align: center;
  background-color: aqua;
  color: aliceblue;
  margin: 20px auto 20px auto;
  font-size: 12px;
  line-height: 30px;
}

.login-reg-button:hover {
  background-color: darkblue;
  color: aliceblue;
}

footer {
  text-align: center;
  background-color: darkblue;
  padding: 20px;
}

footer p {
  color: aliceblue;
}
/*# sourceMappingURL=style.css.map */