
//Colors
$main-color:#009687;
$secondary-color:#96000F;
$light-color:#ffffff;

//Dimentions
@mixin equal($measure:100%){
    width:$measure;
    height:$measure;
}

@mixin unequal($width, $height){
    width:$width;
    height:$height;
}

@mixin pad-all-sides($updown, $leftright){
    padding:$updown $leftright;
}

@mixin marg-all-sides($updown, $leftright){
    padding:$updown $leftright;
}

//Font
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$large-font: 35px;
$medium-font: 18px;
$small-font: 14px;

//List items and links
@mixin clean-li(){
    list-style-type: none;
}

@mixin clean-a(){
    text-decoration: none;
}


//flex 
@mixin flex($dir, $justify, $wrap:wrap){
    display:flex;
    flex-direction:$dir;
    justify-content: $justify;
    flex-wrap: $wrap;
}



body{
    background-color:$light-color;
    font-family: $font-family;
}

h1{
    color:$light-color;
}

h2{
    color:$main-color;
}

img.products{
    border:solid 1px $secondary-color;
}

.header-top{
    height:150px;
}

.logo{
    @include unequal(95px, auto);
}

.nav{
    background-color: $main-color;
    @include unequal(100%, 40px);
    @include flex(row, space-between, nowrap);
    @include pad-all-sides(20%, 5px);
}

.cart-container{
    @include flex(row, space-between, nowrap);
    border-radius:30px; 
}

.nav li{
    @include clean-li();
}

a{
    @include clean-a();
}

.cart-value{
    background-color:$secondary-color;
    @include equal(30px);
    @include pad-all-sides(2px, 2px);
    font-size: 6px;
    color:$light-color;
}

.hero{
    background-image: url("../shoppingcart/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}