
//Colors
$main-color:#009687;
$secondary-color:#96000F;
$light-color:#ffffff;
$dark-color:rgb(53, 51, 51);

//Dimensions
@mixin equal($measure:100%){
    width:$measure;
    height:$measure;
}

@mixin unequal($width, $height){
    width:$width;
    height:$height;
}

@mixin pad-all-sides($updown, $leftright){
    padding:$updown $leftright;
}

@mixin marg-all-sides($updown, $leftright){
    padding:$updown $leftright;
}

//Font
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$large-font: 35px;
$medium-font: 18px;
$small-font: 14px;

//List items and links
@mixin clean-li(){
    list-style-type: none;
}

@mixin clean-a(){
    text-decoration: none;
}


//flex 
@mixin flex($dir, $justify, $wrap:wrap){
    display:flex;
    flex-direction:$dir;
    justify-content: $justify;
    flex-wrap: $wrap;
}



body{
    background-color:$light-color;
    font-family: $font-family;
    max-width:100%;
    margin: 0;
}

h1{
    color:$light-color;
}

h2{
    color:$main-color;
}

.cart-link{
    height:22px;
    margin: -8px 15px 5px 5px;
}

.cart-link img{
    height: 20px;
    padding: 5px 0 0 3px;
    margin-bottom: 2px;
}

.cart-span{
    @include equal(15px);
    background-color: $secondary-color;
    border-radius:20px;
    padding:3px;
    font-size:10px;
    text-align:center; 
}

.header-top{
    height:150px;
}

.logo{
    @include equal(85px);
    @include pad-all-sides(10px,10px);
}

.nav{
    background-color: $main-color;
    @include unequal(98%, 28px);
    padding-right: 15px;
    display: block;
    margin: auto;
}

.nav-div{
    @include flex(row, space-between, nowrap);
    height:100%;
}

ul{
    margin: 0;
    @include pad-all-sides(2px,5px);
}

.nav li{
    @include clean-li();
    text-align: left;
    padding-bottom: 40%;
    margin-left: 5px;
}

a{
    @include clean-a();
    color:$light-color;
}

.hero{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width:99.15%;
    margin:0 auto;
    margin-top: -10px;
}

.hero-h{
    padding:200px 0;

}

.form{
    @include flex(row, center, wrap);
}

.product-container{
    @include flex(column, center, nowrap);
}

label{
    padding:5px 50px;
    text-align:center;
    @include flex(column, center, nowrap);
}

.invisibles{
    display:none;
}

img.products{
    border:solid 1px $secondary-color;
    max-width: 200px;

}

.buttons{
    padding:3px;
    max-width: 80px;
    margin: 0 auto;
    border-radius: 30px;
    color: $light-color;
    background-color: $secondary-color;
}

.buttons:hover{
    background-color: $main-color;
}

.footer-div{
    width:99.2%;
    max-width:100%;
    margin:auto;
    text-align:center;
    color:$light-color;
    background-color: $main-color;
}
