
//Colors
$main-color:#009687;
$secondary-color:#96000F;
$light-color:#ffffff;
$dark-color:rgb(53, 51, 51);

//Dimensions
@mixin equal($measure:100%){
    width:$measure;
    height:$measure;
}

@mixin unequal($width, $height){
    width:$width;
    height:$height;
}

@mixin pad-all-sides($updown, $leftright){
    padding:$updown $leftright;
}

@mixin marg-all-sides($updown, $leftright){
    padding:$updown $leftright;
}

//Font
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$large-font: 35px;
$medium-font: 18px;
$small-font: 14px;

//List items and links
@mixin clean-li(){
    list-style-type: none;
}

@mixin clean-a(){
    text-decoration: none;
}


//flex 
@mixin flex($dir, $justify, $wrap:wrap){
    display:flex;
    flex-direction:$dir;
    justify-content: $justify;
    flex-wrap: $wrap;
}



body{
    background-color:$light-color;
    font-family: $font-family;
    max-width:100%;
    margin: 0;
}

h1{
    color:$light-color;
}

h2{
    color:$main-color;
}

.cart-link img{
    @include equal(8px);
    background-color: $secondary-color;
    @include marg-all-sides(5px, 5px);
    border-radius:10px;
}

img.products{
    border:solid 1px $secondary-color;
}

.header-top{
    height:150px;
}

.logo{
    @include equal(85px);
    @include pad-all-sides(10px,10px);
}

.nav{
    background-color: $main-color;
    @include unequal(100%, 28px);
    @include flex(row, space-between, nowrap);
    margin: 2px, 30px 2px 15px;
    margin:0;
}

ul{
    margin: 0;
    @include pad-all-sides(2px,5px);
}

.cart-container{
    @include flex(row, space-around, nowrap);
    @include pad-all-sides(2px,5px);
    @include unequal(80px,25px);
}

.nav li{
    @include clean-li();
    text-align: left;
    padding-bottom: 40%;
    margin-left: 5px;
}

a{
    @include clean-a();
    color:$light-color;
}

.cart-value{
    background-color:$dark-color;
    @include equal(10px);
    @include pad-all-sides(5px, 5px);
    font-size: 6px;
    color:$light-color;
    border-radius:20px;
}

.hero{
    background-image: url("../shoppingcart/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}