body{
  background-color:midnightblue;
  padding:0 5%;
}

h1{
  font-size:40px;
}

.nav-link, .homelink{
  text-decoration: none;
  color:#ffffff;
  text-align: center;
}

.nav-link{
  display:block;
}

.nav-item{
  list-style-type: none;
  float:right;
  margin: 0 5px;
  padding:5px;
  border-radius: 20px;
}

.container {
  border:springgreen solid 6px;
  border-radius:10px;
  box-shadow:0 0 0 2px #ffffff;
  padding: 0 5px;
}