body{
  background-color:midnightblue;
  padding:0 5%;
}

.nav-link, .homelink{
  text-decoration: none;
  color:#ffffff;
}

.nav-link{
  display:inline;
  list-style-type: none;
  margin-left: 0;
}

.container {
  border:springgreen solid 6px;
  border-radius:10px;
  box-shadow:0 0 0 2px #ffffff;
  padding: 0 5px;
}