body{
  background-color:midnightblue;
  padding:0 5%;
}

h1{
  font:900 40px #ffffff;
}

.nav-link, .homelink{
  text-decoration: none;
  color:#ffffff;
}

.navbar-nav{
  display:inline;
  margin: 0;
  padding:0;
}

.nav-item a{
  list-style-type: none !important;
}

.container {
  border:springgreen solid 6px;
  border-radius:10px;
  box-shadow:0 0 0 2px #ffffff;
  padding: 0 5px;
}